@model IEnumerable<Labb2_Linq_WebbapplicationsWithC_ASP.NET.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}
<h1>Lärare</h1>

<p class="mt-4 mb-5">
    <a asp-action="Create" class="text-decoration-none text-black-50">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
        </svg> Add new teacher
    </a>
</p>
<div id="accordion">
    @foreach (var teacher in Model)
    {
        <div class="card mb-2">
            <div class="card-header" id="heading-@teacher.TeacherId">
                <div class="row justify-content-between align-item-center">
                    <div class="btn collapsed col-11 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@teacher.TeacherId" aria-expanded="false" aria-controls="collapse-@teacher.TeacherId">
                        <div class="col-6">
                            <i id="collapseIcon" class="fas fa-chevron-down p-3"></i> <!-- Default icon when collapsed -->
                            @Html.DisplayFor(modelItem => teacher.TeacherFirstName) @Html.DisplayFor(modelItem => teacher.TeacherLastName)
                        </div>
                    </div>
                    <div class="col-1 text-end">
                        <a asp-action="Delete" asp-route-id="@teacher.TeacherId" class="text-decoration-none text-black-50">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapse-@teacher.TeacherId" class="collapse" aria-labelledby="heading-@teacher.TeacherId" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="teacher-info">
                        <div class="row">
                            <div class="col-xl-1">
                                <h6>First name:</h6>
                            </div>
                            <div class="col-md-9">
                                <h6 class="text-black-50">@teacher.TeacherFirstName</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1">
                                <h6>Last name:</h6>
                            </div>
                            <div class="col-md-9">
                                <h6 class="text-black-50">@teacher.TeacherLastName</h6>
                            </div>
                        </div>
                    </div>

                    <a asp-action="Edit" asp-route-id="@teacher.TeacherId" class="text-decoration-none text-black-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg> Edit 
                    </a>

                            <p class="mt-4">Assigned to course(s):</p>
                            @foreach (var enrollment in teacher.TeacherCourses)
                            {
                                <ul>
                                    @Html.DisplayFor(modelteacher => enrollment.Course.CourseName)
                                </ul>
                            }
                    <a asp-area="" asp-controller="TeacherCourses" asp-action="Create" class="text-decoration-none text-black-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg> Add courses
                    </a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get all collapse buttons
            var collapseButtons = document.querySelectorAll('[data-bs-toggle="collapse"]');

            collapseButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var collapseIcon = button.querySelector('i');
                    if (button.getAttribute('aria-expanded') === 'true') {
                        // Collapse is open, change to open icon
                        collapseIcon.classList.remove('fa-chevron-down');
                        collapseIcon.classList.add('fa-chevron-up');
                    } else {
                        // Collapse is closed, change to closed icon
                        collapseIcon.classList.remove('fa-chevron-up');
                        collapseIcon.classList.add('fa-chevron-down');
                    }
                });
            });
        });
    </script>
}
