@model Labb2_Linq_WebbapplicationsWithC_ASP.NET.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 class="mt-5">Are you sure about deleting?</h3>
<div>
    <hr />
    <h4 class="mt-3">Student</h4>
    <dl class="row mt-3">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div class="mt-md-5">
        <a class="text-decoration-none text-black-50" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
            </svg>
            Back
        </a>
    </div>
</div>
